$backgrey:rgb(237, 237, 237);

$highlightgrey:rgba(209, 209, 209, 0.2);

$darkgrey:rgb(129, 129, 130);

// $greyblue:#2e486e;

$greyblue:rgb(51, 50, 50);

// $mainblue:#0047AB;

// $mainblue:rgb(164, 16, 65);

$mainblue:rgb(0, 0, 0);

$subtitlegrey:rgb(66, 66, 66);
