/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$backgrey:rgb(237, 237, 237);

$highlightgrey:rgba(209, 209, 209, 0.8);

$greyblue:#2e486e;

$mainblue:#0047AB;

@font-face {
  font-family:Couture;
  src:asset-url("couture-bld.otf");
}

@font-face {
 font-family:Prototype;
 src:asset-url("Prototype.ttf");
}

@font-face {
  font-family:Kozuka;
  src:asset-url("Kozuka_Gothic_Pro_L.otf");
}

p {
  font-family:"Kozuka Gothic Pro", "Kozuka", "Optima", sans-serif;
  // font-weight:bold;
}

img#header-image {
  transition: width 1s;
  -webkit-transition: width 1s;
}

img.large {
  width:45%;
}

img.small {
  width:40%;
}

form {
  font-size:1.5vw;
}

input {
  width:50%;
  margin:1%;
  font-size:1.5vw;
}

.current-tab {
  background-color:$highlightgrey;
}

.centered {
  text-align:center;
}

.right {
  float:right;
}

.pagination-wrapper {
  width:50%;
  margin:auto;
  text-align: center;
}

.pagination {
  clear:both;
  margin-top:3%;
  * {
    padding:1%;
    text-transform: uppercase;
    color:$mainblue;
    font-family: "Avenir", "Prototype", sans-serif;
    display:inline-block;
    border-radius:2px;
    &:hover {
      background-color:$highlightgrey;
    }
  }
  a {
    color:$mainblue;
  }
  a.next_page, a.previous_page {
    font-weight:normal;
  }
  em {
    font-style:normal;
    color:black;
    &:hover {
      background-color:$backgrey;
    }
  }
}

#header {
  text-align:center;
  margin-bottom:1%;
}

#nav {
  padding-top:1%;
  a {
    padding:1%;
    text-transform: uppercase;
    color:$mainblue;
    font-family: "Futura", "Prototype", sans-serif;
    display:inline-block;
    border-radius:2px;
    transition: background-color 0.5s;
    &:hover {
      background-color:$highlightgrey;
    }
  }
}

#nav-wrapper {
  width:auto;
  position:relative;
  left:-1%;
}
