// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.post-link {
  font-style: normal;
}

.post-time {
  font-size:1.5vw;
}

.post-more {
  text-align: right;
  display:block;
}
