// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$backgrey:rgb(237, 237, 237);

$darkgrey:rgb(129, 129, 130);

$mainblue:#0047AB;
