// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.project-subtitle {
  font-size:1.5vw;
}

.project-cover {
  width:75%;
}

.project-back {
  margin-top:1%;
}

.dev-underline {
  border-bottom: 1px solid $dev;
}

.des-underline {
  border-bottom: 1px solid $des;
}

.sys-underline {
  border-bottom: 1px solid $sys;
}

.project {
  .project-subtitle {
    font-family:"Baskerville", serif;
  }
}

.project-box {
  margin-left:2%;
  // width:75%;

  .project-title {
    font-family: "Didot", serif;
  }

  .project-link {
      font-style: normal;
  }

  .project-cover {
    width:100%;
    border:1px solid black;
    border-radius:2px;
    -webkit-transition: -webkit-filter 0.25s;
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);

    &:hover {
      -webkit-filter: grayscale(0%);
      filter:grayscale(0%);
    }
  }
}
