// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$backgrey:rgb(237, 237, 237);

$highlightgrey:rgba(209, 209, 209, 0.4);

$greyblue:#2e486e;

$mainblue:#0047AB;

$subtitlegrey:rgb(66, 66, 66);

.project {
  width:75%;
  margin:auto;
  text-align: center;
}

.project-title {
  font-family:"Continuum", "Helvetica", sans-serif;
  margin-bottom:0.5vh;
}


h2.project-subtitle {
  padding:1%;
  text-transform: uppercase;
  // color:$mainblue;
  font-family:"Avenir", "ContinuumBold", sans-serif;
  display:inline-block;
  border-radius:2px;
  transition: background-color 0.5s;
  margin-bottom: 1%;
  a {
    color:$greyblue;
  }
  &:hover {
    background-color:$highlightgrey;
  }
}

h3.project-subtitle {
  padding:1%;
  text-transform: uppercase;
  color:$greyblue;
  font-family: "Avenir", "ContinuumBold", sans-serif;
  display:inline-block;
  border-radius:2px;
  transition: background-color 0.5s;
  margin-bottom: 1%;
  margin-top: -1%;
  a {
    color:$greyblue;
  }
}


.project-description {
  margin:1%;
  line-height: 5vh;
  a {
    color:$mainblue;
    &:hover {
      text-decoration: underline;
    }
  }
}
