// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$backgrey:rgb(237, 237, 237);

$darkgrey:rgb(129, 129, 130);

$greyblue:#2e486e;

$mainblue:#0047AB;

$highlightgrey:rgba(209, 209, 209, 0.8);

body {
  margin:3%;
  padding:0;
  background-color:$backgrey;
  color:black;
  font-family:sans-serif;
}

a {
  color:$darkgrey;
  text-decoration: none;
  font-weight:bold;
}

h1 {
  color:$mainblue;
  font-family: "Prototype", sans-serif;
}

.project-box {
  text-align: center;
  width:45%;
  padding:2%;
  float:left;
  transition: background-color 0.5s;
  &:hover {
    background-color:$highlightgrey;
  }
}

.project-title {
  text-transform: capitalize;
  a {
    color:$mainblue;
    &:hover {
      color:$greyblue;
    }
  }
}
