// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

h2, h3, h4 {
  font-family:"Couture", "DIN Condensed", sans-serif;
  color:$greyblue;
}

.projects-wrapper {
  width:98%;
  margin:auto;
}

.project-box {
  cursor:pointer;
  text-align: center;
  width:43%;
  padding:2%;
  // float:left;
  display:inline-block;
  margin:1%;
  // border-left:3px solid $mainblue;
  transition: background-color 0.5s, border-color 0.2s;
  // border: 3px solid rgba(255, 255, 255, 0);
  &:hover {
    background-color:$highlightgrey;
    // border-left: 3px solid $mainblue;
  }
}

.project-title {
  text-transform: capitalize;
  a {
    color:$mainblue;
    transition: color 0.5s;
    &:hover {
      color:$greyblue;
    }
  }
}

.static-header {
  font-size:3vw;
  margin-bottom:0;
  margin-top:0;
  font-family:"Continuum", sans-serif;
}

.static-subheader {
  margin-top:1%;
}

.static-body {
  margin-bottom:3%;
}

.static-subsubheader {
  margin-bottom:0;
}

.static-links {
  margin-top:0;
  a {
    padding:1%;
    text-transform: uppercase;
    color:$mainblue;
    font-family: "Avenir", "ContinuumBold", sans-serif;
    font-size:1vw;
    display:inline-block;
    border-radius:2px;
    transition: background-color 0.5s;
    &:hover {
      background-color:$highlightgrey;
    }
  }
}
